.about-title {
    font-family: 'Lobster';
    font-size: 100px;
    padding: 20px 0px 0px 80px;
    color: var(--gray);
}

/* .about {
    display: flex;
    flex-direction: row;
} */

.about-title-cont {
    display: block;
}

.about-cont {
    display: flex;
    flex-direction: row;
}

.about-left {
    padding-top: 80px;
    margin-left: 80px;
    width: 65%;
    border-bottom: 5px solid var(--secondary);
}

.about-right {
    width: 50%;
}

.about-image {
    width: 55%;
    align-items: center;
    float: right;
    margin-right: 80px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: var(--secondary);
}

