:root {
    --primary: #37323e;
    --secondary: #deb841;

    --bg: #003049;
    --light: #6fffe9;
    --less-light: #deb841;
    --less-dark: #37323e;
}

.about {
    display: block;
}

.about-title {
    font-family: 'Lobster';
    font-size: 100px;
    padding: 20px 0px 0px 80px;
    color: var(--secondary);
}

.about-container {
    display: flex;
    flex-direction: row;
    padding-right: 80px;
    padding-left: 40px;
}

.about-text {
    display: flex;
    padding-top: 10px;
    text-align: left;
    padding: 20px 0px 0px 80px;
}

.about-text>p {
    border: 5px dashed var(--primary);
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 23px;
}

#my-image {
    display: flex;
    float: right;
    margin: 15px 80px 0 30px;
    max-width: 300px;
    max-height: 530px;
    z-index: 1;
    border-radius: 10%;
    border: 5px dashed var(--primary);
    background-color: var(--secondary);
}

@media screen and (max-width: 822px) {
    .about {
        display: block;
        align-items: center;
        justify-content: center;
    }
}
 

