.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: var(--primary);
    color: var(--secondary) !important;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    text-decoration: none;
    clear: both;
}

.github,
.linked-in,
.facebook {
    padding: 20px;
}

svg {
    color: var(--secondary) !important;
    height: 50px;
    width: 50px;
}
