.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    margin-right: 10px !important;
    max-width: 1440px;
}

.navbar {
    background-color: var(--secondary) !important;
    box-shadow: 1px 10px 8px var(--primary);
    flex-wrap: inherit;
}

.navbar>.container {
    justify-content: flex-end;
    display: flex;
}

.navbar-collapse {
    flex-grow: 0;
}

/* .navbar-collapse>.nav {
    justify-content: end !important;
} */

#nav-link {
    padding: 10px 20px;
    color: var(--primary);
    text-decoration: none;
    font-size: 25px;

}

#nav-link:hover {
    border: dashed 1px;
    padding: 9px 19px;
}

.navbar-brand {
    padding: 10px 20px;
    color: var(--primary);
    font-family: 'Lobster' !important;
    border-style: dashed;
    margin-left: 10px !important;
    font-size: 40px !important;
}

.navbar-brand:hover {
    color: var(--primary) !important;
}

.navbar-dark {
    --bs-navbar-toggler-border-color: var(--primary) !important;
    --bs-navbar-brand-hover-color: var(--primary);
}
