#home-text {
    padding-top: 100px;
    padding-left: 50px;
}

#home-text-1 {
    font-size: 100px;
    font-family: 'Lobster';
}

#home-text-2 {
    font-size: 60px;
    font-family: 'Bebas Neue';
}

#home-text-3 {
    font-size: 40px;
    font-family: 'Bebas Neue';

}