#home-text {
    padding-top: 100px;
    padding-left: 50px;
}

#home-text-1 {
    font-size: 40px;
    font-family: 'Manrope';
}

#home-text-2 {
    font-size: 80px;
    font-family: 'Abril Fatface';
}