/* html {
    background-color: var(--body-bg);
} */

.grid {
    background-color: var(--primary);
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }

.proj-card {
    display: flex;
    width: 30rem;
    height: 20rem;
    margin: 10px;
    border: 2px solid var(--secondary) !important;
    overflow: hidden;
}

svg {
    color: var(--secondary) !important;
    height: 5rem !important;
    width: 5rem !important;
}

.card-image {
    width: 30rem;
    height: 20rem;
}

.title-text {
    color: var(--secondary);
    font-size: 3rem !important;
}

.show-proj {
    display: none;
}

.proj-overlay:hover .show-proj {
    display: block;
}

.proj-overlay:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.disclaimer {
    display: flex;
}

.proj-disc {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 10px;
}